/*
rush00.css
##########

gar gcaron
*/

/* MISE EN PAGE GLOBALE */

html {
	width: 100%;
	min-width: px;
	padding: 0;
	margin: 0;
}
#site {
	background-color: $EEEEEE;
	text-align: center;
	font-size: 16px;
	font-family: Univers, 'Titillium Web', sans-serif;
}
body{
	min-width: 500px;
	max-width: 100%;
	margin: auto;
}








/* HEADER ############################*/
.header{
	background-color: #111111;
	height: 60px;
	color: white;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;

}
#header_logo > a > img {
	height: 30px;
	margin-left: 30px;
}
#header_menu {
	flex: 2;
	margin-left: 10px;
}
a {
	text-decoration: none;
	color: #FFF;
	margin-left: 10px;
}
a:hover {
	text-shadow: -2px -2px 4px #AAA;
	text-decoration: ;
}
#header_button_zone > a > img {
	height: 20px;
	margin-left: 20px;
}
#header_user {
	margin-right: 0px;
	font-size: 10px;
	font-style: italic;
}















/* CONTENT ############################*/
.product_all {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-flow: wrap;
		/*flex-basis: 25%;*/
}
.cat_titre {
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.75rem;
	margin-bottom: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #111;
	font-family: Univers,sans-serif;
}
.cat_description {
	color: #666;
	font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: normal;
    line-height: 1.57143;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;

}

.product_tile {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
	min-height: 500px;
	max-height: 500px;
	min-width: 240px;
	max-width: 300px;

	display: inline-block;
	margin: 10px;
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #F6F6F6;
	transition-duration: .275s;
	transition-property: box-shadow;
	transition-timing-function: cubic-bezier(0.4,0,.2,1);
}
.product_tile:hover {
box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}
.product_tile__love > a > img{
	height: 15px;
	margin-left: 193px;
	margin-bottom: 3px;
}
.product_tile__love > a >img:hover {
	height: 17px;
	margin-bottom: 1px;
}
.img_produit {
	width: 265px;
}
.product_tile__texte p:nth-child(1){
	font-size: .6875rem;
	line-height: .75rem;
	letter-spacing: .05em;
	font-weight: 300;
	height:36px;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}
.product_tile__texte p:nth-child(1):hover{
	overflow: initial;
}

.button{
	margin-top: 10px;
	font-family: Univers,sans-serif;
	height: 23px;
	background-color: wheat;
	border: 0px;
	color: black;
}












/* FOOTER ############################*/
#foot_wrapper {
	background-color: #111111;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/*flex-flow: row wrap;*/
	text-align: center;
	display: block;
	margin: 0 auto 20px;
	font-size: 12px;


}
#foot_services {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	color: #FFF;

}
#foot_services > div {
	flex: 1;
	width: 19vw;
	margin-right: 2vw;
	margin-left: 2vw;
	text-align: left;

	/*display: inline-block;*/
}

#foot_services h1 {
  font-size: 2.0vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#foot_services h1:hover {
	overflow: initial;
}

#foot_services hr {
	width: 100%;
	text-align: right;
	color: #666;
}
#foot_services a {
	text-align: left;
	text-decoration: none;
	color: inherit;
	display: block;
	margin-top: 18px;
}

#services_contact img {
	height: 20px;
	margin-right: 10px;

}
#services_stories > p {
	display: inline-block;
	max-width: 17vw;
}




/* FOOT MENSIONS ######################################## */
#foot_mentions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	color: #FFF;
}

.foot_mention_left {
	display: flex;
	flex-direction: column;
}
.foot_mention_left > a > img{
	margin-top: 10px;
}
.foot_mention_center {
	align-self: flex-end;
}
.foot_mention_right {
	align-self: flex-end;
}
.foot_mention_right > a > img {
	width: 20px;
	margin-left: 5px;
}


.foot_gris {
	color: #666;
	text-align: center;
	max-width: 600px;
	margin: 0 auto 20px;
	font-size: 10px;
}
.foot_gris img {
	height: 15px;
}




/* MAGASINS ######################### */
.mag_wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.mag_carte {
	flex: 1.6;
	margin-top: 0;
}
.mag_carte > img {
	width: 100%;
}
.mag_liste {
	flex: 1;
	/*display: inline-block;*/

}
.mag_liste > ul > li > h2 {
	/*display: block;
	text-align: left;
	font-size: 16px;
	font-family: Univers,sans-serif;
	font-weight: 300;
	margin-before: 1em;
	margin-after: 1em;
	margin-start: 0px;
	margin-end: 0px;
	padding-start: 40px;*/

	font-size: 1.3rem;
	line-height: 1.75rem;
	margin-bottom: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #111;
	font-family: Univers,sans-serif;
}
.mag_liste_texte > li > h2:nth-child(1){
	text-decoration: underline;
}

.mag_liste > ul > li > p {

}
